<div class="popover">
    <div class="popover--container">
        <div class="popover--controls">
            <div class="popover--control--item">
                <img src="../asserts/photo_blue.png" alt="">
                <button>Фото или видео</button>
            </div>
            <div class="popover--control--item">
                <img src="../asserts/file.png" alt="">
                <button>Файл</button>
            </div>
            <div class="popover--control--item">
                <img src="../asserts/geolocation.png" alt="">
                <button>Геопозиция</button>
            </div>
        </div>
        <div class="popover--children">
            <button>
                <img src="../asserts/attach.png" alt="attach">
            </button>
        </div>
    </div>
</div>