.action--input {
    width: 100%;
    &--placeholder {
      color: #999999;
      font-size: 13px;
    }
  
    &__container {
      border-bottom: 2px solid var(--primary--accent-color);
      display: flex;
      flex-direction: column;
    }
  
    &--hint {
      padding-top: 0.4rem;
      span {
        font-size: 13px;
        color: inherit;
      }
    }
  
    &--hint.error {
      color: var(--primary-error-color);
    }
  
    input {
      padding: 0.5rem 0 0.5rem 0.5rem;
      outline: none;
      font-size: var(--primary--font-size)
    }
  
    &.password.error {
      & input {
        color: var(--primary-error-color);
      }
    }
  }
  