<div class="popover bottom">
  <div class="popover--container">
    <div class="popover--controls">
      <div class="popover--control--item">
        <img src="../asserts/add.png" alt="" />
        <button>Добавить пользователя</button>
      </div>
      <div class="popover--control--item">
        <img src="../asserts/remove.png" alt="" />
        <button>Удалить пользователя</button>
      </div>
    </div>
    <div class="popover--children">
      <button>
        <img src="../asserts/tools.png" alt="" />
      </button>
    </div>
  </div>
</div>
