.chat--bottom--control {
  position: fixed;

  width: 80%;
  bottom: 0;
  padding: 0 0.5rem;
  height: 60px;
  border-top: 1px solid var(--additional--font-color);
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 22fr 1fr;
  gap: 0.2rem;
  align-items: center;

  &--send--button,
  &--actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--input {
    border-radius: 4rem;
    padding: 0.8rem;
    background-color: var(--additional--font-color);
    & input {
      outline: none;
      width: 100%;
      background-color: transparent;
    }
  }

  button {
    @include no--style--button;
  }
}
