.chat--header {
  height: 15%;
  width: 100%;
  padding: 1rem;

  &--top {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    flex-direction: column;
    width: 100%;
    &--link {
      width: 100%;
      display: flex;
justify-content: end;
      a {
        text-decoration: none;
        color: var(--secondary--font-color);
      }
    }
  }
}
