<div class="chat--header">
    <div class="chat--header--top">
        <div class="chat--header--top--link">
            <a href="#">Профиль ></a>

        </div>
        {{> 'search-input/search-input'}}
    </div>
</div>