@mixin chat-list-element-active {
  background-color: var(--element-hover);
}

@mixin no--style--button {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

@mixin common-link {
  color: var(--primary--accent-color);
  text-decoration: none;
}

@mixin divider {
  border-bottom: 2px solid var(--additional--font-color);
}
