* {
  --primary-error-color: red;
  --primary--accent-color: #3369f3;
  --secondary-bg-color: #fbfbfb;
  --secondary--font-color: #999999;
  --additional--font-color: #eaeaea;
  --primary--font-size: 14px;
  --mine-message-color: #e4edfd;
  --message-font-color: #1e1e1e;
  --element-hover: #e4edfd;
  --chat--bottom--control--height: 60px;
  --chat--messages--container--height: calc(100vh - (var(--chat--bottom--control--height) * 2));
  --mine-message-status-color: #3369f3;
  --theme-bg: white;
}
