<div class="chat--list--element">
    {{> "chat-avatar/chat-avatar"}}
    <div class="chat--list--element--content">
        <span class="chat--list--element--name">
            Андрей
        </span>
        <span class="chat--list--element--preview">
            Изображение
        </span>
    </div>
    <div class="chat--list--element--aside">
        <span class="chat--list--element--time">
            04:20
        </span>
        <span class="chat--list--element--count">
            4
        </span>
    </div>
</div>