{{!< absolute}}

<div class="app">
  <div class="auth">
    <form>
      <div class="auth--container">
        <div class="auth--header">
          <h1>Авторизация</h1>
        </div>
        <div class="auth--content">
          <div class="action--input">
            <div class="action--input__container">
              <label class="action--input--placeholder">Логин</label>
              <input type="text" name="login" />
            </div>
            <div class="action--input--hint error">
              <span>
                Неверный логин
              </span>
            </div>

          </div>
          <div class="action--input password">
            <div class="action--input__container">
              <label class="action--input--placeholder">Пароль</label>
              <input type="password" name="password" />
            </div>
          </div>
        </div>
        <div class="auth--footer">
          <button
            class="auth--button primary"
            type="submit"
          >Авторизоваться</button>
          <button class="auth--button secondary" type="submit">Нет аккаунта?</button>
        </div>
      </div>
    </form>
  </div>
</div>
