{{!< absolute}} <section class="chat">

    <div class="chat--container">
        <div class="chat--container--left">
            {{> 'chat-left/chat-left'}}

        </div>
        <div class="chat--container--right">
            {{> 'chat-header-control/chat-header-control'}}
            {{> 'chat-messages-container/chat-messages-container'}}
            {{> 'chat-bottom-control/chat-bottom-control'}}
        </div>

    </div>
    {{> 'modal/modal'}}
    </section>