<ul>
    <li>
        <a href="./main.hbs">Main page</a>
    </li>
    <li>
        <a href="./signin.hbs">Signin page</a>
    </li>
    <li>
        <a href="./auth.hbs">Auth page</a>
    </li>
    <li>
        <a href="./chat.hbs">Chat page</a>
    </li>
    <li>
        <a href="./chatting.hbs">Chat with people</a>
    </li>
    <li>
        <a href="./chatting-modal.hbs">Chat with people (modal open)</a>
    </li>
    <li>
        <a href="./profile.hbs">Profile</a>
    </li>
</ul>