{{!< absolute}} <div class="profile--main">
  {{> 'left-side-bar/left-side-bar'}}
  <div class="profile--main--container">
    <div class="profile--main--info--container">
      <div class="profile--main--info--avatar">
        <div class="profile--main--info--avatar--mask hidden">
          <p>Поменять аватар</p>
        </div>
      </div>
      <div class="profile--main--info--data">

        <div class="profile--info">
          <p>Почта</p>
          <p>pochta@yandex.ru</p>
        </div>
        <div class="profile--info">
          <p>Логин</p>
          <p>ivanivanov</p>
        </div>
        <div class="profile--info">
          <p>Имя</p>
          <p>Иван</p>
        </div>
        <div class="profile--info">
          <p>Фамилия</p>
          <p>Иванов</p>
        </div>
        <div class="profile--info">
          <p>Имя в чате</p>
          <p>Иван</p>

        </div>
        <div class="profile--info">
          <p>Номер телефона</p>
          <p>+7 (909) 967 30 30</p>
        </div>

      </div>
      <div class="profile--main--footer">
        <div class="profile--main--footer--element">
          <a href="./profile-change.hbs">Изменить данные</a>
        </div>
        <div class="profile--main--footer--element">
          <a href="./profile-change-password.hbs">Изменить пароль</a>
        </div>
        <div class="profile--main--footer--element">
          <button>Выйти</button>
        </div>
      </div>
    </div>
  </div>
