{{!< absolute}}
<div class="profile--main">
  <div class="profile--leftsidebar"></div>
  <div class="profile--main--container">
    <div class="profile--info">
      <p>Старый пароль</p>
      <input class="profile--info--text" type="text" placeholder="********">
    </div>
    <div class="profile--info">
      <p>Новый пароль</p>
      <input class="profile--info--text" type="text" placeholder="********">
    </div>
    <div class="profile--info">
      <p>Повторите новый пароль</p>
     <input class="profile--info--text" type="text" placeholder="********">
    </div>
    </div>
    <input class="button--change--save" type="button" value="Сохранить">