{{!< absolute}} <div class="profile--main">
  {{> 'left-side-bar/left-side-bar'}}
  <div class="profile--main--container">
    <div class="profile--main--info--container">
      <div class="profile--main--info--avatar">
        <div class="profile--main--info--avatar--mask">
          <label for="profile--main--change--avatar">Поменять аватар</label>
          <input type="checkbox" id="profile--main--change--avatar">

        </div>
      </div>
      <div class="profile--info">
        <p>Почта</p>
        <input class="profile--info--text" type="text" placeholder="pochta@yandex.ru">
      </div>
      <div class="profile--info">
        <p>Логин</p>
        <input class="profile--info--text" type="text" placeholder="ivanivanov">
      </div>
      <div class="profile--info">
        <p>Имя</p>
        <input class="profile--info--text" type="text" placeholder="Иван">
      </div>
      <div class="profile--info">
        <p>Фамилия</p>
        <input class="profile--info--text" type="text" placeholder="Иванов">
      </div>
      <div class="profile--info">
        <p>Имя в чате</p>
        <input class="profile--info--text" type="text" placeholder="Ivan">

      </div>
      <div class="profile--info">
        <p>Номер телефона</p>
        <input class="profile--info--text" type="text" placeholder="+7 (909) 967 30 30">
      </div>

    </div>
    <input class="button--change--save" type="button" value="Сохранить">
    {{> 'modal-change-avatar/modal-change-avatar'}}

  </div>