{{!< absolute}} <div class="app">
  <div class="auth">
    <div class="auth--container">
      <div class="auth--header">
        <span>Регистрация</span>
      </div>
      <div class="auth--content">
        <div class="action--input">
          <div class="action--input__container">
            <label class="action--input--placeholder">Почта</label>
            <input type="text" />
          </div>

        </div>
        <div class="action--input">
          <div class="action--input__container">
            <label class="action--input--placeholder">Имя</label>
            <input type="text" />
          </div>
        </div>
        <div class="action--input">
          <div class="action--input__container">

            <label class="action--input--placeholder">Фамилия</label>
            <input type="text" />
          </div>
        </div>
        <div class="action--input">
          <div class="action--input__container">

            <label class="action--input--placeholder">Почта</label>
            <input type="text" />
          </div>
        </div>
        <div class="action--input">
          <div class="action--input__container">

            <label class="action--input--placeholder">Телефон</label>
            <input type="text" />
          </div>
        </div>
        <div class="action--input password">
          <div class="action--input__container">

            <label class="action--input--placeholder">Пароль</label>
            <input type="password" />
          </div>
        </div>
        <div class="action--input password error">
          <div class="action--input__container">

            <label class="action--input--placeholder">Повторите пароль</label>
            <input type="password" />
          </div>
        </div>
      </div>
      <div class="auth--footer">
        <button class="auth--button primary">Зарегистрироваться</button>
        <button class="auth--button secondary">Войти</button>
      </div>
    </div>
  </div>
  </div>