<div class="modal">
  <form>
    <div class="modal--content">
      <p class="modal--title">Добавить пользователя</p>
      <div class="action--input">
        <div class="action--input__container">
          <label class="action--input--placeholder">Пользователь</label>
          <input type="text" name="user" />
        </div>
      </div>
      <button class="action--button primary" type="submit">Добавить</button>
    </div>
  </form>
</div>
