.modal {
  &,
  &--content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);

  &--content {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    width: 400px;
    height: 300px;
    border-radius: 1rem;
  }

  &--title {
    margin-bottom: 40px;

    &.error {
      color:red;
    }
  }

  input[type="file"] {
    opacity: 0;
  }

  &--upload--file--hint {
    color:red;
  }

  label {
    @include common-link;
    cursor: pointer;
  }
}
