<div class="chat--list">
    {{> 'chat-list-element/chat-list-element'}}
    {{> 'chat-list-element/chat-list-element'}}
    {{> 'chat-list-element/chat-list-element'}}
    {{> 'chat-list-element/chat-list-element'}}
    {{> 'chat-list-element/chat-list-element'}}
    {{> 'chat-list-element/chat-list-element'}}
    {{> 'chat-list-element/chat-list-element'}}
    {{> 'chat-list-element/chat-list-element'}}
    {{> 'chat-list-element/chat-list-element'}}
    {{> 'chat-list-element/chat-list-element'}}
    {{> 'chat-list-element/chat-list-element'}}
    {{> 'chat-list-element/chat-list-element'}}
    {{> 'chat-list-element/chat-list-element'}}
    {{> 'chat-list-element/chat-list-element'}}
    {{> 'chat-list-element/chat-list-element'}}
    {{> 'chat-list-element/chat-list-element'}}
</div>