<div class="chat--container">
    <div class="chat--container--left">
        {{> 'chat-left/chat-left'}}

    </div>
    <div class="chat--container--right">
        {{> 'chat-select/chat-select'}}

    </div>

</div>
