.chat--container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  &--left {
    flex-basis: 20%;
    background-color: var(--secondary-bg-color);
    border-right: 2px solid #eaeaea;
  }

  &--right {
    flex-basis: 80%;
  }
}
