<div class="chat--header--control">
    <div class="chat--header--control--info">
        {{> 'chat-avatar/chat-avatar'}}
        <div class="chat--header--partner--name">
            Владимир
        </div>
    </div>
    <div class="chat--header--control--features">
        {{> "popover-top/popover-top"}}
    </div>
</div>
