<div class="modal">
  <form>
    <div class="modal--content">
      <p class="modal--title">Загрузите файл</p>
      {{! <p class="modal--title error">Ошибка, попробуйте еще раз</p> }}
      <label for="modal--upload--file">Выбрать файл на компьютере</label>
      <input type="file" name="" id="modal--upload--file" name="avatar" />
      <button class="action--button primary" type="submit">Поменять</button>
      <p class="modal--upload--file--hint">
        Нужно выбрать файл
      </p>
    </div>
  </form>
</div>
