<div class="modal">
    <div class="modal--content">
        <span class="modal--title">Загрузите файл</span>
        {{!-- <span class="modal--title error">Ошибка, попробуйте еще раз</span> --}}
        <label for="modal--upload--file">Выбрать файл на компьютере</label>
        <input type="file" name="" id="modal--upload--file">
        <button class="action--button primary">Поменять</button>
        <span class="modal--upload--file--hint">
            Нужно выбрать файл
        </span>
    </div>
</div>